<form>
  <div class="form-group">
    <label for="firstname">Name</label>
    <div class="input-group">
      <input id="fname" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label for="lastname">Mobile number</label>
    <div class="input-group">
      <input id="lname" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label for="department">Email Address</label>
    <div class="input-group">
      <input id="dept" class="form-control" />
    </div>
  </div>
  <div class="border text-center">
    <button data-dismiss="modal" class="btn btn-info">Save Changes</button>
  </div>
</form>
