<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>User Registration</h1>
          <hr />
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input
              type="name"
              class="form-control"
              formControlName="name"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Mobile Number</label>
            <input
              type="number"
              class="form-control"
              formControlName="number"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              formControlName="password"
              required
            />
          </div>
          <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
          </div>

          <button type="submit" class="btn btn-primary">Signup</button>
        </form>
        <a routerLink="/login">Already Register ? Click to Login !</a>
      </div>
    </div>
  </div>
</div>
