

<br />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>User Profile</h1>
          <hr />
        </div>
        <form *ngIf="user | async">
          <div class="mb-3">
            <label class="form-label">Name:-{{ (user | async)?.name }}</label>
          </div>
          <div class="mb-3">
            <label class="form-label"
              >Phone Number:-{{ (user | async)?.number }}</label
            >
          </div>
          <div class="mb-3">
            <label class="form-label"
              >Email Address:-{{ (user | async)?.email }}</label
            >
          </div>
          <button
            class="btn btn-danger"
            (click)="triggerEditModal(modalData, user)"
          >
            Edit
          </button>

          <ng-template #modalData let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                Angular Bootstrap Modal Popup
              </h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="firstname">Name</label>
                <div class="input-group">
                  <input formControlName="firstname" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="firstname">Mobile Number</label>
                <div class="input-group">
                  <input formControlName="firstname" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="firstname">Email Address</label>
                <div class="input-group">
                  <input formControlName="firstname" class="form-control" />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                (click)="modal.close('Save click')"
              >
                Close
              </button>
            </div>
          </ng-template>
          <br /><br />
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
